<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 数据库连接环境 -->
    <environments default="b">
        <!-- 定义一个数据库连接环境 -->
        <environment id="b">
            <transactionManager type="JDBC"/>
            <!-- jdbc方式需要4个参数 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://hadoop102:3306/Mybatis?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="000000"/>
            </dataSource>
        </environment>
    </environments>

    <!--
        mapper: 编写了sql的文件。
        -->
    <mappers>
        <!-- sql.xml中有sql，记得去找 -->
        <mapper resource="sql.xml"/>
        <mapper resource="EmployeeMapper.xml"/>
        <mapper class="com.atguigu.mybatis.mapper.EmployeeMapper2"/>
        <mapper class="com.atguigu.mybatis.mapper.ParamPassMapper"/>
    </mappers>
    

</configuration>